.projects {
  display: flex;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  flex-direction: column;
  margin-top: 10rem;

  @media (max-width: 1024px) {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  @media (max-width: 768px) {
    margin-top: 5rem;
    padding: 0;
  }

  @media (max-width: 540px) {
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #455ce9;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .link {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.8rem;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .body {
    max-width: 110rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;

    a {
      text-align: start;
      text-decoration: none;
      color: inherit;
    }
  }

  .modalContainer {
    height: 25rem;
    width: 40rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    z-index: 3;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .modalSlider {
    height: 100%;
    width: 100%;
    position: relative;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal img {
    height: auto;
  }

  .cursor,
  .cursorLabel {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #455ce9;
    color: white;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 300;
    pointer-events: none;
  }

  .cursorLabel {
    background-color: transparent;
  }
}
