.landing {
  position: relative;
  display: flex;
  height: 120vh;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  .sliderContainer {
    position: absolute;
    top: calc(100vh - 23rem);
  }

  .slider {
    position: relative;
    white-space: nowrap;

    p {
      position: relative;
      margin: 0px;
      color: #fff;
      font-size: 16rem;
      font-weight: 500;
      padding-right: 5rem;

      &:nth-of-type(2) {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
  .description {
    position: absolute;
    top: 35%;
    left: 65%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 4rem;
      top: 30%;
      left: 20%;
    }
    p {
      margin: 0px;
      margin-bottom: 1rem;
    }
    svg {
      transform: scale(2);
      margin-bottom: 5rem;
    }
  }
}
