.containerSmallProject {
  .projectSmall {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;

    img {
      padding: 10rem 2rem 10rem 2rem;
      transition: all 500ms;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 550;
    transition: all 0.4s;
    @media (max-width: 1024px) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1.5rem;
    transition: all 0.4s;
    font-weight: 500;
    padding-top: 1rem;
    border-top: 1px solid rgb(201, 201, 201);
  }

  &:hover {
    h2 {
      transform: translateX(-1rem);
    }

    p {
      transform: translateX(1rem);
    }
  }
}
