.box {
  display: block;
  height: 20rem;
  position: relative;
  background-color: #ffff;
  z-index: 1;
}

.circleContainer {
  position: relative;
  margin-top: 5rem;
  @media (max-width: 768px) {
    margin-top: 0;
  }

  .circle {
    height: 1550%;
    width: 120%;
    left: -10%;
    border-radius: 0 0 50% 50%;
    background-color: white;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 6rem 5rem rgba(0, 0, 0, 0.748);

    @media (max-width: 768px) {
      height: 900%;
    }

    @media (max-width: 540px) {
      height: 1000%;
    }
  }
}
