.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  z-index: 1;
  padding-bottom: 5rem;
  .containerGallery {
    max-width: 120rem;
    margin: 0 auto;
    @media (max-width: 1200px) {
      padding: 0 10rem;
    }
    @media (max-width: 768px) {
      padding: 0 5rem;
    }
    @media (max-width: 600px) {
      padding: 0 2rem;
    }

    .content {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      img {
        object-fit: cover;
      }

      .buttonContainer {
        position: absolute;
        left: 75%;
        top: -3%;

        @media (max-width: 600px) {
          left: 70%;
          top: -35%;
        }
        @media (max-width: 480px) {
          left: 65%;
          top: -45%;
        }
        @media (max-width: 400px) {
          left: 65%;
          top: -50%;
        }
      }
      .button {
        display: grid;
        place-items: center;
        width: 15rem;
        height: 15rem;
        background-color: #455ce9;
        color: white;
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        @media (max-width: 768px) {
          width: 13rem;
          height: 13rem;
        }

        p {
          margin: 0px;
          font-size: 1.5rem;
          font-weight: 500;
          z-index: 2;
          position: relative;
        }
      }
    }
  }
}
