.titleContent {
  width: 100%;
  display: grid;
  align-items: start;
  max-width: 140rem;
  gap: 5rem;
  margin: 12rem auto;
  @media (max-width: 768px) {
    margin: 5rem auto;
  }

  h1 {
    font-size: 10rem;
    font-weight: 500;
    padding-left: 20rem;
    letter-spacing: -0.09em;
    @media (max-width: 1024px) {
      font-size: 7rem;
      padding-left: 10rem;
    }
    @media (max-width: 768px) {
      padding-left: 10rem;
    }
    @media (max-width: 600px) {
      font-size: 4rem;
    }
    @media (max-width: 480px) {
      padding-left: 5rem;
    }
    @media (max-width: 400px) {
      padding-left: 1.5rem;
    }
  }

  .details {
    display: flex;
    width: 100%;
    padding-left: 20rem;
    @media (max-width: 1024px) {
      padding-left: 10rem;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 0 10rem;
    }
    @media (max-width: 480px) {
      padding-left: 5rem;
    }
    @media (max-width: 400px) {
      padding-left: 1.5rem;
    }
    .details__section {
      width: 100%;
      margin-right: 10rem;
      .strip,
      .stripMobile {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #dcdcdc;
        margin: 1.75em 0 1.5em 0;
      }

      .strip {
        @media (max-width: 768px) {
          display: none;
        }
      }

      .stripMobile {
        @media (min-width: 768px) {
          display: none;
        }
      }

      .role {
        color: #455ce9;
        font-size: 1.5rem;
      }
      .role__detail {
        display: flex;
        list-style-type: none;
        font-size: 1.5rem;
        font-weight: 500;

        a {
          text-decoration: none;
          color: inherit;
          border: 1px solid gray;
          padding: 0.5rem 5rem;
          border-radius: 0 1rem 0 1rem;
          transition: all 500ms;
          @media (max-width: 768px) {
            margin-top: 1rem;
          }

          &:hover {
            color: #f8f9ff;
            background-color: #455ce9;
          }
        }
      }
    }
  }

  .description {
    padding: 0 20rem;
    font-size: 1.7rem;
    font-weight: 400;
    @media (max-width: 1024px) {
      padding-left: 10rem;
    }
    @media (max-width: 768px) {
      padding-right: 5rem;
      font-size: 1.5rem;
    }
    @media (max-width: 480px) {
      padding-left: 5rem;
    }
    @media (max-width: 400px) {
      padding-left: 1.5rem;
    }
  }
}
