.mainAbout {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem 10rem;

    @media (max-width: 840px) {
      grid-template-columns: 1fr;
      padding: 6rem 6rem;
    }

    @media (max-width: 480px) {
      padding: 6rem 2rem;
    }
  }
}
