.mainAbout {
  width: 100%;
  height: 100%;

  overflow: hidden;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    padding: 6rem 10rem;
  }
}
