.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  margin-top: 20rem;
  background-color: white;
  z-index: 1;

  .slider {
    display: flex;
    position: relative;
    gap: 3vw;
    width: 120vw;
    left: -10vw;
    overflow-x: hidden;

    @media (max-width: 1024px) {
      width: 160vw;
      left: -25vw;
    }
    @media (max-width: 540px) {
      display: none;
    }

    .project {
      width: 25%;
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      @media (max-width: 1024px) {
        height: 25vw;
      }
      @media (max-width: 768px) {
        height: 30vw;
      }
      .imageContainer {
        position: relative;
        width: 90%;
        height: 90%;
        img {
          object-fit: cover;
        }
      }
    }
  }
  .circleContainer {
    position: relative;
    margin-top: 5rem;

    .circle {
      height: 1550%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: white;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 6rem 5rem rgba(0, 0, 0, 0.748);

      @media (max-width: 768px) {
        height: 900%;
      }

      @media (max-width: 540px) {
        height: 600%;
      }
    }
  }
}
