.stripForm {
  position: relative;
  border-bottom: 1px solid rgb(134, 134, 134);
  padding-bottom: 8rem;

  .button {
    display: grid;
    place-items: center;
    width: 16rem;
    height: 16rem;
    left: 70%;
    background-color: #455ce9;
    color: white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    @media (max-width: 768px) {
      width: 13rem;
      height: 13rem;
      left: 60%;
      top: 30%;
    }

    p {
      margin: 0px;
      font-size: 1.5rem;
      font-weight: 500;
      z-index: 2;
      position: relative;
    }
  }
}
