html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 16px */
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0px;
  overflow-x: hidden; /* Hide scrollbars */
  height: 100%;
  overscroll-behavior-y: none;
}
