.content {
  display: grid;
  align-items: center;
  padding-top: 15rem;

  h2 {
    display: flex;
    flex-direction: column;
    font-size: 6vw;
    font-weight: 450;
    text-wrap: balance;
    line-height: 1.2;
    color: white;
    letter-spacing: -0.05em;
    @media (max-width: 768px) {
      order: 2;
      font-size: 7vw;

      justify-content: end;
    }
  }

  .imageContainer {
    display: grid;
    align-items: end;
    position: relative;
    @media (max-width: 768px) {
      order: 1;
      margin-left: 2rem;
    }
    .contentImg {
      width: 12rem;
      height: 12rem;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
    }
    svg {
      transform: scale(2);
      position: absolute;
      top: 130%;
      left: 0%;

      @media (max-width: 768px) {
        transform: rotate(20deg) scale(2);
      }
    }
  }
}
