.description {
  padding: 15rem 0 15rem 0;
  display: flex;
  justify-content: center;

  .body {
    position: relative;
    max-width: 120rem;
    display: flex;
    gap: 5rem;
    padding: 0 12rem 0 12rem;

    @media (max-width: 900px) {
      width: 100%;
      padding: 0 4rem 0 4rem;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 0px;
      &:nth-of-type(1) {
        font-size: 3rem;
        gap: 0.8rem;
        line-height: 1.3;
        span {
          margin-right: 3px;
        }
        .mask {
          position: relative;
          overflow: hidden;
          display: inline-flex;
        }
      }
      &:nth-of-type(2) {
        font-size: 1.5rem;
        width: 80%;
        font-weight: 300;
      }
    }
    .button {
      top: 90%;
      left: calc(100% - 20rem);
      width: 18rem;
      height: 18rem;
      background-color: #1c1d20;
      color: white;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media (max-width: 1024px) {
        top: 120%;
      }
      p {
        margin: 0px;
        font-size: 1.5rem;
        font-weight: 300;
        position: relative;
        z-index: 1;
      }
    }
  }
  .moreWork {
    padding: 2rem;
    border-radius: 4rem;
    border: 1px solid grey;
  }
}
