.header {
  position: absolute;
  display: flex;
  z-index: 3;
  top: 0;
  color: #fff;
  padding: 3.5rem;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    display: flex;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    p {
      margin: 0px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
      display: flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 1rem;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      p {
        position: relative;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        &:nth-of-type(2) {
          padding-left: 0.3em;
        }
        &:nth-of-type(3) {
          position: absolute;
          left: 12rem;
          padding-left: 0.3em;
        }
      }
    }
    &:hover {
      .copyright {
        transform: rotate(360deg);
      }
      .name {
        padding-right: 5rem;
        .codeBy {
          transform: translateX(-100%);
        }
        .luis {
          transform: translateX(-8rem);
        }
        .almenarez {
          transform: translateX(-8.2rem);
        }
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;

    @media (max-width: 480px) {
      display: none;
    }

    .el {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      padding: 1.5rem;
      cursor: pointer;
      &:hover {
        .indicator {
          transform: scale(1);
        }
      }
      .indicator {
        position: absolute;
        width: 5px;
        height: 5px;
        top: 4.5rem;
        left: 50%;
        background-color: #fff;
        border-radius: 50%;
        transform: scale(0) translateX(-50%);
        transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
      }
    }
    a {
      cursor: pointer;
    }
  }

  .menuSmall {
    display: flex;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;

    @media (min-width: 480px) {
      display: none;
    }
  }

  &.colorBlack {
    color: #1c1d20;

    .indicator {
      background-color: #1c1d20 !important;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  right: 0px;
  z-index: 4;

  .button {
    position: relative;
    margin: 2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #1c1d20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonActive {
    background-color: #455ce9;
  }

  .burger {
    width: 100%;
    position: relative;
    z-index: 1;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}
