.button {
  position: fixed;
  right: 0px;
  margin: 3rem;
  z-index: 3;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #455ce9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -4px;
  }

  &::before {
    top: 4px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
