.menu {
  height: 100vh;
  background-color: #1c1d20;
  position: fixed;
  right: 0;
  top: 0;
  color: white;

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 40px;
      gap: 8px;
      margin-top: 40px;

      .header {
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 40px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }
  }
}
