.link {
  position: relative;
  display: flex;
  align-items: center;

  .indicator {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -3rem;

    @media (max-width: 540px) {
      left: 30rem;
    }
  }
}
