.info {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 2rem;
  margin-top: 20rem;

  @media (max-width: 640px) {
    flex-direction: column;
  }

  div {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    gap: 2rem;
    color: white;
    align-items: flex-end;
    @media (max-width: 640px) {
      &:nth-child(1) {
        padding-bottom: 2rem;
        border-bottom: 1px solid rgb(134, 134, 134);
      }
    }
    @media (max-width: 640px) {
      &:nth-child(2) {
        justify-content: space-between;
        padding: 3rem;
      }
    }

    p {
      &::after {
        content: "";
        width: 0%;
        height: 1px;
        background-color: white;
        display: block;
        margin-top: 2px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.2s linear;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
    a {
      text-decoration: none;
      color: inherit;
      &::after {
        content: "";
        width: 0%;
        height: 1px;
        background-color: white;
        display: block;
        margin-top: 2px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.2s linear;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
    h3 {
      color: grey;
      cursor: default;
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
}
